/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


/* VARS */

:root{
  --background-color: #fff;
  --font-color: #333;
  --link-color: #333;
  --link-hover-color: #000;
  --old-price-color: #888;
  --button-color: #333;
  --button-hover-color: #000;
  --button-font-color: #fff;
  --button-font-hover-color: #fff;
  --table-border-color: #ccc;
  --shadow-8: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  --shadow-8-hover: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 0 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-16: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  --shadow-32: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  --default-transition: ease-in-out 0.2s;
  --no-bottom-margin: 8px 8px 0 8px;
}


/* GENERAL */

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color)
}

h4 {
  font-weight: 600;
}

.none {
  display: none !important;
}

.hidden {
  height: 0 !important;
  width: auto;
  opacity: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
}

.of-hidden{
  overflow: hidden;
}


/* HEADER */
header {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  box-shadow: var(--shadow-32);
}

#header-container{
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu-button {
  width: 24px;
  height: 24px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#logo {
  width: 32px;
  height: 32px;
  padding: 16px;
}

#cart-button {
  padding: 20px;
  font-size: 24px;
  position: relative;
}

#cart-button:hover {
  color: var(--link-hover-color);
  cursor: pointer;
}

#cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23px;
  right: 20px;
  width: 23px;
  height: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: var(--background-color);
}

#confirmation-message-container {
  position: absolute;
  top: 48px;
  right: 8px;
  width: 364px;
  max-width: calc(100vw - 48px);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--background-color);
  color: var(--font-color);
  border-radius: 8px;
  padding: 16px;
  box-shadow: var(--shadow-32);
  transition: var(--default-transition);
  height: auto;
  opacity: 1;
  z-index: 2;
}

#confirmation-message-container:before {
  content: '';
  position: absolute;
  top: -12px;
  right: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--background-color);
}

#confirmation-message-container>h4 {
  margin: 0 0 16px 0;

}

#confirmation-info-container {
  display: flex;
  margin: 8px 0 0 0;
}

#confirmation-info {
  display: flex;
  flex-direction: column;
}

#confirmation-image {
  width: 72px;
  height: 72px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin: 0 8px 0 0;
  box-shadow: var(--shadow-8);
}

#confirmation-message-container span:nth-child(2) {
  margin: 8px 0;
}

#header-nav[role='off-canvas']{
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 64px;
  left: 0;
  background-color: var(--background-color);
  transition: var(--default-transition);
  z-index: 1;
}

.nav-hidden {
  left: -100vw !important;
}

#header-nav>ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 32px 0
}

.nav-link {
  margin: 0 0 16px 0;
}

.nav-link a{
  font-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
}


.nav-search {
  display: flex;
  order: -1;
  height: 48px;
  margin: 0 0 16px 0;
  border-radius: 8px;
  box-shadow: var(--shadow-8);
  background-color: var(--background-color);
  transition: var(--default-transition);
}

.nav-search:hover {
  box-shadow: var(--shadow-8-hover);
}

.nav-search input {
  width: calc(100% - 48px);
  height: 16px;
  padding: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: var(--font-color);
}

.nav-search button {
  height: 48px;
  width: 48px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--font-color);
}

.nav-search button:hover {
  color: var(--button-hover-color);
  cursor: pointer;
}

/* CONTENT */

#content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

/* Breadcrumbs */

#breadcrumbs {
  margin: 8px 8px 0 16px
}

#breadcrumbs ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.crumb {
  display: inline-block;
  font-size: 12px;
}

.crumb a{
  text-decoration: underline;
}

.crumb a::after{
  display: inline-block;
  content: '/';
  margin: 0 4px;
}


/* Recommendation message */
#recommendations-container {
  margin: var(--no-bottom-margin);
  padding: 8px;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-16);
  transition: var(--default-transition);
  opacity: 1;
  max-width: calc(100vw - 32px);
}

#recommendations-container h4 {
  margin: 0 0 8px 0;
}

#recommendation-container {
  height: 100%;
  display: grid;
  grid-gap: 8px;
  overflow-y: scroll;
}

.recommendation {
  display: grid;
  grid-gap: 8px;
  text-align: center;
}

.recommendation:hover{
  cursor: pointer;
}

.recommendation-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: var(--shadow-8);
}

.recommendation-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.recommendation-old-price {
  color: var(--old-price-color);
  text-decoration: line-through;
  font-size: 10px;
}

.recommendation-price {
  font-size: 11px;
}

/* Product container */
#product-container {
  display: flex;
  flex-direction: column;
}

/* product photos */
/* big screen */
#product-photos-big {
  display: grid;
  grid-template: 1fr 1fr /  1fr 1fr;
  grid-gap: 8px;
  margin: var(--no-bottom-margin);
  padding: 8px;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-16);
}

.product-photo-big-container {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition: var(--default-transition);
  box-shadow: var(--shadow-8);
}

.product-photo-big {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: var(--default-transition);
}

.product-photo-big-container:hover,
.product-photo-big-container:focus {
  box-shadow: var(--shadow-8-hover);
  cursor: pointer;
}

.product-photo-big-container:hover .product-photo-big,
.product-photo-big-container:focus .product-photo-big{
  transform: scale(1.025);
}

/* mobile */
#product-photos {
  margin: var(--no-bottom-margin);
  padding: 8px;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-16);
  position: relative;
}

#main-photo {
  width: calc(100vw - 32px);
  height: calc(100vw - 32px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: var(--shadow-8);
}

#main-photo-grid {
  width: calc(100vw - 32px);
  display: grid;
  grid-template-columns: repeat(4, 15vw);
  grid-gap: 8px;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  pointer-events: none;
}

#main-photo-grid .photo-thumb {
  width: 15vw;
  height: 15vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: var(--shadow-8);
  pointer-events: auto;
}


/* product info */
#product-info-container {
  margin: var(--no-bottom-margin);
  padding: 8px;
  border-radius: 16px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-16);
}

#product-info {
  margin: 0 0 16px 0;
}

#product-name {
  text-transform: uppercase;
}

#product-name,
#product-description {
  margin: 0 0 8px 0;
}


/* color */
#product-colors-container {
  margin: 0 0 16px 0;
}

#product-colors-container h4 {
  margin: 0 0 8px 0;
}

#product-color-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  margin: 0 0 8px 0;
}

.product-color-option {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: var(--default-transition);
  box-shadow: var(--shadow-8);
}

.product-color-option:hover {
  box-shadow: var(--shadow-8-hover);
  cursor: pointer;
}

#product-color-name{
  font-size: 14px;
}

.selected {
  font-weight: 600;
}

/* price */
#product-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 16px 0;
}

#product-price-container>div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#product-old-price {
  color: var(--old-price-color);
  position: relative;
}

#product-old-price::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  border-bottom: 4px solid var(--old-price-color);
  transform: rotate(-15deg);
}

#product-price,
#product-old-price {
  display: flex;
  align-items: center;
  height: 64px;
}

#product-price-value,
#product-old-price-value {
  font-size: 64px;
  font-weight: 600;
}

#product-price>div,
#product-old-price>div {
  display: flex;
  flex-direction: column;
  height: 64px;
  margin-left: 8px;
}

#product-old-price-value-decimal,
#product-price-value-decimal,
#product-old-price-currency,
#product-price-currency {
  height: 24px;
  font-size: 32px;
  font-weight: 600;
}

#product-price-info {
  font-size: 12px;
  color: #888;
}

/* add to cart */
#add-to-cart {
  display: flex;
  margin: 0 0 16px 0;
}

#add-to-cart input{
  width: 16px;
  height: 16px;
  padding: 16px;
  margin-right: 8px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: var(--shadow-8);
  background-color: var(--background-color);
  color: var(--font-color);
  transition: var(--default-transition);
}

#add-to-cart input:hover {
  box-shadow: var(--shadow-8-hover);
  background-color: var(--button-color);
  color: var(--button-font-color);
}

#add-to-cart input:focus {
  box-shadow: var(--shadow-8-hover);
  background-color: var(--button-hover-color);
  color: var(--button-font-hover-color);
}

#add-to-cart input[type=number] {
  -moz-appearance: textfield;
}

#add-to-cart input[type="number"]::-webkit-outer-spin-button,
#add-to-cart input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#add-to-cart button {
  height: 48px;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-8);
  background-color: var(--button-color);
  color: var(--button-font-color);
  font-weight: 600;
  font-size: 18px;
  transition: var(--default-transition);
}

#add-to-cart button:hover {
  background-color: var(--button-hover-color);
  color: var(--button-font-hover-color);
  box-shadow: var(--shadow-8-hover);
  cursor: pointer;
}

/* table */
table {
  width: 100%;
  font-size: 12px;
  border-spacing: 0;
}

tr td:first-child {
  border-right: 1px solid var(--table-border-color);
  width: 33%;
}

tr td {
  border-bottom: 1px solid var(--table-border-color);
  padding: 4px;
}

tr:last-child td {
  border-bottom: none;
}


/* GALLERY */
#gallery {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  transition: var(--default-transition);
  z-index: 1;
  overflow: hidden;
}

#gallery.hidden body{
  overflow: hidden;
}

#gallery-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 64px);
  height: 100%;
  padding: 0 32px;
}

#gallery-previous,
#gallery-next {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--background-color);
  color: var(--font-color);
  padding: 8px;
  box-shadow: var(--shadow-16);
  font-size: 24px;
  z-index: 1;
  user-select: none;
  transition: var(--default-transition);
  border-radius: 100%;
}

#gallery-previous:hover,
#gallery-next:hover {
  box-shadow: var(--shadow-32);
  cursor: pointer;
}

#gallery-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: var(--background-color);
  color: var(--font-color);
  box-shadow: var(--shadow-16);
  user-select: none;
  transition: var(--default-transition);
}

#gallery-close:hover {
  box-shadow: var(--shadow-32);
  cursor: pointer;
}

#gallery-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  background-color: var(--background-color);
  box-shadow: var(--shadow-32);
  margin: 32px 0 0 0;
  font-size: 12px;

}

#footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer>div {
  margin: 0 16px;
}

footer>div>div>a:first-child {
  margin-right: 8px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 375px) {
  #recommendation-container {
    display: grid;
    grid-template-columns: repeat(6, 30vw);
  }

  .recommendation {
    height: calc(30vw + 64px);
    display: grid;
    grid-template-rows: 30vw 16px 12px 14px;
  }

  .recommendation-image {
    width: 30vw;
    height: 30vw;
  }

  .recommendation-name {
    width: 30vw;
  }

  #product-price,
  #product-old-price {
    height: 48px;
  }

  #product-price>div, #product-old-price>div {
    height: 48px;
  }

  #product-price-value,
  #product-old-price-value {
    font-size: 48px;
  }

  #product-old-price-value-decimal,
  #product-price-value-decimal,
  #product-old-price-currency,
  #product-price-currency {
    height: 16px;
    font-size: 24px;
  }
}

@media screen and (min-width: 376px) {
  #recommendation-container {
    grid-template-columns: repeat(6, 20vw);
  }

  .recommendation {
    grid-template-rows: 20vw 16px 12px 14px;
  }
}

@media screen and (min-width: 768px) {
  #menu-button {
    display: none;
  }

  #header-nav[role='off-canvas'] {
    position: static;
    width: 100%;
  }

  #header-nav>ol {
    flex-direction: row;
    align-items: center;
    margin: 0;
    height: 100%;
    width: unset;
  }

  .nav-link {
    margin: 0 16px 0 0;
  }
  .nav-link a {
    font-size: 24px;
  }

  .nav-search {
    margin: 0 0 0 auto;
    order: unset;
    min-width: calc(80px + 48px);
    max-width: calc(196px + 48px);
  }

  /* CONTENT */
  #product-container {
    display: grid;
    grid-template-columns: 66.66% 33.33%;
  }

  #product-photos-big {
    margin: 8px 0 0 8px;
  }

  #product-price,
  #product-old-price {
    height: 32px;
    font-size: 48px;
  }

  #product-price>div, #product-old-price>div {
    height: 32px;
    margin: 0 0 0 4px;
  }

  #product-price-value,
  #product-old-price-value {
    font-size: 32px;
  }

  #product-old-price-value-decimal,
  #product-price-value-decimal,
  #product-old-price-currency,
  #product-price-currency {
    height: 11px;
    font-size: 16px;
  }

  #product-price-info {
    font-size: 10px;
  }

  #add-to-cart button {
    font-size: 16px;
  }

  #recomendations-container {
    grid-template-columns: repeat(6, 148px);
  }

  #recommendation-container {
    grid-template-columns: repeat(6, 1fr);
    overflow-y: initial;
  }

  .recommendation {
    grid-template-rows: 160px 16px 12px 14px;
    height: auto;
  }
}

@media screen and (min-width: 960px) {
  body {
    align-items: center;
  }

  header {
    width: 100%;
  }

  #header-container {
    width: 960px;
    align-self: stretch;
  }

  #content {
    max-width: 960px;
  }  #product-price,
  #product-old-price {
    height: 48px;
  }

  #product-price>div, #product-old-price>div {
    height: 48px;
  }

  #product-price-value,
  #product-old-price-value {
    font-size: 48px;
  }

  #product-old-price-value-decimal,
  #product-price-value-decimal,
  #product-old-price-currency,
  #product-price-currency {
    height: 16px;
    font-size: 24px;
  }

  #product-price-info {
    font-size: 12px;
  }

  footer {
    width: 100%;
  }

  #footer-container {
    width: 960px;
  }
}

/* DARK THEME */

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
    --font-color: #ccc;
    --link-color: #ccc;
    --link-hover-color: #fff;
    --button-color: #ccc;
    --button-hover-color: #fff;
    --button-font-color: #333;
    --button-font-hover-color: #000;
    --table-border-color: #444;
    --shadow-8: 0 0 8px 0 rgba(0, 0, 0, 0.33);
    --shadow-16: 0 0 16px 0 rgba(0, 0, 0, 0.33);
    --shadow-32: 0 0 32px 0 rgba(0, 0, 0, 0.33);
  }
  #logo {
    filter: invert(1);
  }
}